# Ignore Python cache files
__pycache__
*.pyc

# Ignore git files
.git
.gitignore

# Ignore environment files
.env

# Ignore data files that shouldn't be in the Docker image
data/raw
data/processed

# Ignore Jupyter notebook checkpoints
notebooks/*.ipynb_checkpoints

