# Data and Machine Learning Libraries
numpy<2.0.0
scipy
pandas
scikit-learn
tensorflow
keras
transformers
datasets
huggingface-hub

# Audio Processing Libraries
librosa==0.10.0.post2
soundfile
soxr==0.3.2

# Visualization Libraries
matplotlib
seaborn
tqdm

# Dashboard and Web Application Frameworks
dash
dash-core-components
dash-html-components
dash-bootstrap-components
dash-bootstrap-templates
streamlit

# Server and Backend Utilities
werkzeug==2.0.1

# Jupyter Environment
jupyter
