# Data and ML Libraries
numpy
scipy
librosa
soundfile
tensorflow
keras
matplotlib
seaborn
pandas
tqdm

# Jupyter
jupyter

# Dash
dash>=2.5.0
dash-core-components
dash-html-components
dash-bootstrap-components
dash-bootstrap-templates

# Werkzeug
werkzeug==2.0.1

# Hugging Face
transformers
datasets
huggingface-hub

# Streamlit
streamlit